/docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
.vscode
.ameba.yml

# Docker development
docker/prosody/certs/*.key
docker/prosody/certs/*.crt
docker/prosody/certs/*.pem

# Build artifacts
examples/xmpp_echo
examples/xmpp_component
examples/xmpp_channel_binding